/* General */
.vert-span-1 {height:30px;}
.vert-span-2 {height:70px;}
.vert-span-3 {height:110px;}
.vert-span-4 {height:150px;}
.vert-span-5 {height:190px;}
.vert-span-6 {height:230px;}
.vert-span-7 {height:270px;}
.vert-span-8 {height:310px;}
.vert-span-9 {height:350px;}
.vert-span-10 {height:390px;}
.vert-span-11 {height:430px;}
.vert-span-12 {height:470px;}
.vert-span-13 {height:510px;}
.vert-span-14 {height:550px;}
.vert-span-15 {height:590px;}
.vert-span-16 {height:630px;}
.vert-span-17 {height:670px;}
.vert-span-18 {height:710px;}
.vert-span-19 {height:750px;margin-bottom:0;}

fieldset input[type=text], fieldset input[type=password], fieldset select {
    width: 310px;
}

fieldset input.number {
    width: 70px;
}

textarea {
    width: 98%;
    height: 4em;
}

.legend table {
    width: auto;
}

.legend td {
    padding: 0 0.2em;
}

.small-image img {
    vertical-align: middle;
    margin: 0 0.2em;
}

.alt {
    color: #666;
    font-family: "Warnock Pro", "Goudy Old Style", "Palatino", "Book Antiqua", Georgia, serif;
    font-style: italic;
    font-weight: normal;
}

.shade-0 {
    background-color: #025D8C;
}

.shade-1 {
    background-color: #107FC9;
}

.shade-2 {
    background-color: #0A93FC;
}

.shade-3 {
    background-color: #73C2FF;
}

.shade-4 {
    background-color: #EDF7FF;
}

/* Layout */
.row {
    float: left;
    margin: 0;
    position: relative;
    width: 100%;
}

#row-0 {
    color: #EDF7FF;
    background-color: #025D8C;
    border-bottom: 0.5em solid #107FC9;
}
#row-0 a {
    color: #EDF7FF;
}
#row-0 a:hover, #row-0 a:active {
    color: #73C2FF;
}

#row-1 {
}
#row-1 a {
    color: #0A93FC;
}
#row-1 a:hover, #row-1 a:active {
    color: #73C2FF;
}

#row-2 {
    bottom: 0;
    position: fixed;
    color: #EDF7FF;
    background-color: #025D8C;
    border-top: 0.5em solid #107FC9;
}
#row-2 a {
    color: #EDF7FF;
}
#row-2 a:hover, #row-2 a:active {
    color: #73C2FF;
}

/* Header */
#logo a {
    text-decoration: none;
}

#ajax-container {
    height: 3em;
}

/* Menu */
.topmenu {
    list-style: none;
    padding: 0;
    margin: 0;
    float: right;
}

.topmenu-item {
    position: relative;
    margin: 0;
    padding: 0;
    float: left;
}

.topmenu-item a {
    text-decoration: none;
    font-size: 1.5em;
}

.submenu {
    list-style: none;
    position: absolute;
    right: -0.5em;
    top: 3em;
    margin: 0;
    padding: 0;
    float: left;
    display: none;
    background-color: #025D8C;
    border-bottom: 0.5em solid #107FC9;
    border-left: 0.5em solid #107FC9;
    border-right: 0.5em solid #107FC9;
    -webkit-border-bottom-right-radius: 0.5em;
    -webkit-border-bottom-left-radius: 0.5em;
    -moz-border-radius-bottomright: 0.5em;
    -moz-border-radius-bottomleft: 0.5em;
    border-bottom-left-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
    z-index: 2;
}

.submenu-item {
    margin: 0;
    padding: 0;
    clear: both;
}

.menu-item a {
    padding: 0 1em;
    display: block;
    white-space: nowrap;
}

.menu-item a:hover, .menu-item a.active {
    color: #CEEAF7;
}

.menu-item .menu-entry {
    display: block;
    height: 3em;
    line-height: 3em;
    text-decoration: none;
    float: left;
}

.menu-dropdown-arrow {
    width: 20px;
    height: 3em;
    float: left;
    background: url(/images/arrow-down.png) no-repeat left center;
}

.menu-dropdown-arrow.hover, .menu-dropdown-arrow.open {
    cursor: pointer;
    background-position: right center;
}

/* Application lists */
.application-title {
    margin-bottom: 0;
}

.download-count {
    line-height: 3;
}

.rating-count, .download-count {
    float: right;
}

.rating-count:before, .download-count:before {
    content: "(";
}

.rating-count:after, .download-count:after {
    content: ")";
}
